{:highlights [{:id #uuid "643ffb8b-3079-4b14-ab64-eef7f8aa4126",
               :page 2,
               :position {:bounding {:x1 29,
                                     :y1 123,
                                     :x2 742,
                                     :y2 394,
                                     :width 799.9999999999999,
                                     :height 449.99999999999994},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1681914762492},
               :properties {:color "yellow"}}
              {:id #uuid "64401d95-ff37-4c6a-8ed3-0aa0ae073837",
               :page 10,
               :position {:bounding {:x1 53,
                                     :y1 177,
                                     :x2 327,
                                     :y2 335,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1681923477080},
               :properties {:color "yellow"}}
              {:id #uuid "64401e14-c3dd-4e90-945c-e55626a53987",
               :page 11,
               :position {:bounding {:x1 340,
                                     :y1 121,
                                     :x2 577,
                                     :y2 282,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1681923604568},
               :properties {:color "yellow"}}
              {:id #uuid "64401eae-336f-4e5d-ac74-aef3dfa8d15b",
               :page 12,
               :position {:bounding {:x1 291,
                                     :y1 164,
                                     :x2 560,
                                     :y2 303,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1681923757866},
               :properties {:color "yellow"}}
              {:id #uuid "64402034-5701-4979-ab59-805268a010aa",
               :page 9,
               :position {:bounding {:x1 166,
                                     :y1 237,
                                     :x2 393,
                                     :y2 277,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1681924148551},
               :properties {:color "yellow"}}
              {:id #uuid "644020b1-1095-4fe0-a708-5f4e181e8f48",
               :page 16,
               :position {:bounding {:x1 32,
                                     :y1 80,
                                     :x2 563,
                                     :y2 244,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1681924273034},
               :properties {:color "yellow"}}
              {:id #uuid "644020c7-34f6-4b65-835c-4661a5d0661d",
               :page 17,
               :position {:bounding {:x1 33,
                                     :y1 81,
                                     :x2 563,
                                     :y2 254,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1681924295200},
               :properties {:color "yellow"}}
              {:id #uuid "644020d5-d781-4347-be78-dc9b54eb1112",
               :page 17,
               :position {:bounding {:x1 34,
                                     :y1 259,
                                     :x2 501,
                                     :y2 332,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1681924308999},
               :properties {:color "yellow"}}
              {:id #uuid "64402298-0ac5-4803-9c82-b74fe5b2a7bd",
               :page 20,
               :position {:bounding {:x1 50,
                                     :y1 181,
                                     :x2 498,
                                     :y2 286,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1681924759835},
               :properties {:color "yellow"}}
              {:id #uuid "644022b2-9e79-4b31-bd3d-a257118f9da6",
               :page 21,
               :position {:bounding {:x1 37,
                                     :y1 79,
                                     :x2 425,
                                     :y2 292,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1681924785754},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
