{:highlights [{:id #uuid "644590e9-a516-4a26-88be-24ad436a855d",
               :page 8,
               :position {:bounding {:x1 322,
                                     :y1 66,
                                     :x2 496.71484375,
                                     :y2 301,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1682280698558},
               :properties {:color "yellow"}}
              {:id #uuid "644592d7-5160-4c75-94d0-0db7d41eeffd",
               :page 9,
               :position {:bounding {:x1 318,
                                     :y1 97,
                                     :x2 495.1015625,
                                     :y2 239.8515625,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1682281182590},
               :properties {:color "yellow"}}
              {:id #uuid "6445939d-c2a8-4dbd-8991-85590f82d368",
               :page 10,
               :position {:bounding {:x1 320,
                                     :y1 92,
                                     :x2 530,
                                     :y2 241.30078125,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1682281385723},
               :properties {:color "yellow"}}
              {:id #uuid "6445945c-97bf-47ef-93dc-d12f7ff764d2",
               :page 11,
               :position {:bounding {:x1 341,
                                     :y1 59,
                                     :x2 518,
                                     :y2 289.54296875,
                                     :width 599,
                                     :height 336.9375},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1682281582272},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
